<ion-view title="Contratar Serviço">
	<ion-content scroll="false">
		<div class="list padding">

			<div class="list card">
				<div class="item item-text-wrap ">
					<div class="item-icon-left">
						<i class="icon ion-help-circled" style="font-size: 42px; color: #488aff;"></i> Preencha os campos para anunciar sua necessidades aos profissionais e ter um retorno rápido.
					</div>

				</div>
			</div>

			<!--<label class="item-bottom item-input item-floating-label">
    			<span class="input-label">TÍTULO DO SERVIÇO</span>
    			<input type="text" placeholder="TÍTULO DO SERVIÇO">
  			</label>-->

			<ul class="list">
				<li class="item item-toggle" style="border: none; border-bottom: 1px solid #ddd;">
					<span style="color: #ddd;">Aceita receber contato?</span>
					<label class="toggle toggle-assertive">
						<input type="checkbox" ng-model="Contrato.contato">
						<div class="track">
							<div class="handle"></div>
						</div>
					</label>
				</li>
			</ul>

			<label class="item-bottom item-input item-select">
				<div class="input-label" style="color: #ddd;">
					Qual serviço ?
				</div>
				<select ng-model="Contrato.categoria" ng-options="cat._id as cat.name for cat in categorias | orderBy:'cat.name'"  name="categoria" id="categoria">
     				<option value="">Selecione</option>
 			</select>
			</label>


			<!--<button class="button button-full button-positive">
  				Categoria*
			</button>-->

			<label class="item-bottom  item-input item-floating-label">
				<span class="input-label">Cep</span>
				<input type="number" placeholder="CEP" ng-model="Contrato.cep">
			</label>

			<label class="item-bottom  item-input item-floating-label">
				<span class="input-label">Descrição</span>
				<textarea placeholder="Descrição do trabalho" ng-model="Contrato.descricao"></textarea>
			</label>

		</div>

		<div class="padding">
			<button class="button button-block button-positive" ng-click="contratarServicoCtrl()">Publicar</button>
		</div>

	</ion-content>
</ion-view>