<ion-view title="Contratar Serviço">
	<ion-content scroll="false">
		<div class="list padding">

			<div class="list card">
				<div class="item item-text-wrap ">
					<div class="item-icon-left">
						<i class="icon ion-help-circled" style="font-size: 42px; color: #488aff;"></i>
						Preencha os campos para anunciar sua necessidades aos profissionais e ter um retorno rápido.
					</div>
					
				</div>
			</div>

			<!--<label class="item-bottom item-input item-floating-label">
    			<span class="input-label">TÍTULO DO SERVIÇO</span>
    			<input type="text" placeholder="TÍTULO DO SERVIÇO">
  			</label>-->

			<label class="item-bottom item-input item-select">
				<div class="input-label" style="color: #ddd;">
					QUAL SERVIÇO ?
				</div>
				<select>
				<option selected></option>
				<option>Eletricista</option>
				<option>Pedreiro</option>
				<option>Marceneiro</option>
				</select>
			</label>

			<!--<button class="button button-full button-positive">
  				Categoria*
			</button>-->

			<label class="item-bottom  item-input item-floating-label">
				<span class="input-label">CEP</span>
				<input type="number" placeholder="CEP">
			</label>

			<label class="item-bottom  item-input item-floating-label">
				<span class="input-label">DESCRIÇÃO DO TRABALHO</span>
				<textarea placeholder="DESCRIÇÃO DO TRABALHO"></textarea>
			</label>

		</div>

			<ul class="list">
				<li class="item item-toggle" style="border: none; border-bottom: 1px solid #ddd;">
					<span style="color: #ddd;">Aceita receber contato?</span>
					<label class="toggle toggle-assertive">
						<input type="checkbox">
						<div class="track">
							<div class="handle"></div>
						</div>
					</label>
				</li>
			</ul>


		<div class="padding">
			<button class="button button-block button-positive">Publicar</button>
		</div>

	</ion-content>
</ion-view>