<ion-view>
	<!-- Barra superio do aplicativo -->
	<div class="bar bar-positive">
		<button class="button icon ion-navicon"></button>
		<h1 class="title">PegaPro</h1>
	</div>
	<ion-nav-title>PegaPro GO!</ion-nav-title>
	<ion-content>
		<div class="list list-inset">
			<label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="text" placeholder="Search" ng-model="search">
			</label>
		</div>
		<ion-list>
			<ion-item ng-repeat="empresa in listaDeEmpresas | filter:search track by $index">
				<a class="item item-avatar" href="#/empresaescolhida/{{empresa._id}}">
					<img src="img/img_avatar2.png">
					<h2>{{empresa.firstName}}&nbsp;{{empresa.lastName}}</h2>
					<!-- <p>{{empresa.observacao}}</p> -->
					<p>{{empresa.address}}</p>
					<p>
						<button class="button button-small button-royal">
  							{{empresa.profissao}}
						</button>
						<button class="button button-small button-energized" ng-show="$index==0">
  							Destaque
						</button>
					</p>
					<a href="tel:{{empresa.phone.mobile}}" class="item item-icon-left">
						<i class="icon ion-ios-telephone"></i> {{empresa.phone.mobile | brPhoneNumber}}
					</a>
				</a>

			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
<!-- CODIGO ANTIGO apagar depois-->
<!-- <ion-view>
	<ion-nav-title>Boas opcoes</ion-nav-title>
	<ion-content>
		<div class="list list-inset">
			<label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="text" placeholder="Search" ng-model="search">
			</label>
		</div>
		<ion-list>
			<ion-item ng-repeat="empresa in listaDeEmpresas | filter:search">
				<a class="item item-avatar" href="#/empresaescolhida/{{empresa._id}}">
					<img src="img/img_avatar2.png">
					<h2>{{empresa.nome}}</h2>
					<p>{{empresa.observacao}}</p>
					<p>{{empresa.endereco}}</p>
					<p>
						<button class="button button-small button-royal">
  							{{empresa.categoria}}
						</button>
					</p>
					<a href="#" class="item item-icon-left">
						<i class="icon ion-ios-telephone"></i> {{empresa.telefone}}
					</a>
				</a>
				
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view> -->