<ion-content padding="true" style="background-color: #46c6f3">
	<p class="title-login">PegaPro</p>
	<div class="list list-inset list-inputs-login">
		<label class="item item-input">
			<i class="icon ion-person placeholder-icon"></i>
				<input type="text" ng-model="data.username" placeholder="Email" onkeyup="this.value=this.value.replace(/[' ']/g,'')">
		</label>
	</div>
	<div class="list list-inset list-inputs-login">
		<label class="item item-input">
			<i class="icon ion-locked placeholder-icon"></i>
			<input type="password" ng-model="data.password" placeholder="Senha">
		</label>
	</div>
	<button class="button button-block btn-login" ng-click="login(data)">Acessar</button>
	<div class="divOr">ou</div>
	<button class="button ion-social-facebook button-block btn-login-facebook" ng-click="facebookSignIn()"></button>
	<!--<button class="button ion-social-googleplus button-block btn-login-googleplus" ng-click="googleSignIn()"></button>-->
 	<p class="signup-login"><a href="#/registrar" style="color: white; text-decoration: none;">Não tem uma conta? Cadastre-se</a></p>
	
</ion-content>