<ion-view title="Mensagens">
    <ion-content>

        <div class="list card" ng-if="!servicos[0]._id">
            <div class="item item-text-wrap ">
                <div class="item-icon-left">
                    <i class="icon ion-chatbubble-working" style="font-size: 42px; color: #488aff;"></i> Não existem mensagens no momento.
                </div>
            </div>
        </div>
        
        <div class="list" ng-repeat="servico in servicos | orderBy:'servico.descricao'">

            <a class="item item-avatar" href="#">
                <img src="img/notificacao-2.png">
                <h2>{{servico.name}}</h2>
                <p>{{servico.descricao}}</p>
            </a>

            <!--<a class="item item-avatar" href="#">
                <img src="img/spengler.jpg">
                <h2>Egon</h2>
                <p>We're gonna go full stream.</p>
            </a>

            <a class="item item-avatar" href="#">
                <img src="img/stantz.jpg">
                <h2>Ray</h2>
                <p>Ugly little spud, isn't he?</p>
            </a>

            <a class="item item-avatar" href="#">
                <img src="img/winston.jpg">
                <h2>Winston</h2>
                <p>That's a big Twinkie.</p>
            </a>

            <a class="item item-avatar" href="#">
                <img src="img/tully.jpg">
                <h2>Tully</h2>
                <p>Okay, who brought the dog?</p>
            </a>

            <a class="item item-avatar" href="#">
                <img src="img/barrett.jpg">
                <h2>Dana</h2>
                <p>I am The Gatekeeper!</p>
            </a>

            <a class="item item-avatar" href="#">
                <img src="img/venkman.jpg">
                <h2>Venkman</h2>
                <p>Back off, man. I'm a scientist.</p>
            </a>

            <a class="item item-avatar" href="#">
                <img src="img/spengler.jpg">
                <h2>Egon</h2>
                <p>We're gonna go full stream.</p>
            </a>

            <a class="item item-avatar" href="#">
                <img src="img/spengler.jpg">
                <h2>Egon</h2>
                <p>We're gonna go full stream.</p>
            </a>-->

        </div>
    </ion-content>
</ion-view>