<ion-view view-title="Comentários">
  <ion-content scroll="true">
    <div class="list">
      <a class="item item-avatar" href="#">
        <img src="img/venkman.jpg">
        <h2>Venkman</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="img/spengler.jpg">
        <h2>Egon</h2>
        <p>We're gonna go full stream.</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="img/stantz.jpg">
        <h2>Ray</h2>
        <p>Ugly little spud, isn't he?</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="img/winston.jpg">
        <h2>Winston</h2>
        <p>That's a big Twinkie.</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="img/tully.jpg">
        <h2>Tully</h2>
        <p>Okay, who brought the dog?</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="img/barrett.jpg">
        <h2>Dana</h2>
        <p>I am The Gatekeeper!</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="img/tully.jpg">
        <h2>Slimer</h2>
        <p>Boo!</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="img/winston.jpg">
        <h2>Slimer</h2>
        <p>Boo!</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="img/barrett.jpg">
        <h2>Dana</h2>
        <p>I am The Gatekeeper!</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="img/tully.jpg">
        <h2>Slimer</h2>
        <p>Boo!</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="img/winston.jpg">
        <h2>Slimer</h2>
        <p>Boo!</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="img/barrett.jpg">
        <h2>Dana</h2>
        <p>I am The Gatekeeper!</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="img/tully.jpg">
        <h2>Slimer</h2>
        <p>Boo!</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="img/winston.jpg">
        <h2>Slimer</h2>
        <p>Boo!</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="img/barrett.jpg">
        <h2>Dana</h2>
        <p>I am The Gatekeeper!</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="img/tully.jpg">
        <h2>Slimer</h2>
        <p>Boo!</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="img/winston.jpg">
        <h2>Slimer</h2>
        <p>Boo!</p>
      </a>
    </div>
  </ion-content>
  
    <div class="bar bar-footer">
      <label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="text" placeholder="Pesquisar" ng-model="search">
			</label>
    </div>
  
  <!--
    <div class="bar bar-footer">
      <div class="item item-input-inset comments-input">
        <label class="item-input-wrapper comments-label">
          <input type="text" placeholder="Deixe seu Comentário">
        </label>
        <a href="" class="button button-small">
          <i class="icon ion-ios-paperplane" sty></i>  
        </a>
        <button class="button button-small">
          <i class="icon ion-ios-paperplane" sty></i>  
        </button>
      </div>
    </div>
  </ion-content>
  <ion-content scroll="true">
    <div class="bar bar-header">
      <div class="list" style="position: relative">
        <a class="item item-avatar" href="#">
          <img src="img/venkman.jpg">
          <h2>Venkman</h2>
          <p>Back off, man. I'm a scientist.</p>
        </a>
        <a class="item item-avatar" href="#">
          <img src="img/spengler.jpg">
          <h2>Egon</h2>
          <p>We're gonna go full stream.</p>
        </a>
        <a class="item item-avatar" href="#">
          <img src="img/stantz.jpg">
          <h2>Ray</h2>
          <p>Ugly little spud, isn't he?</p>
        </a>
        <a class="item item-avatar" href="#">
          <img src="img/winston.jpg">
          <h2>Winston</h2>
          <p>That's a big Twinkie.</p>
        </a>
        <a class="item item-avatar" href="#">
          <img src="img/tully.jpg">
          <h2>Tully</h2>
          <p>Okay, who brought the dog?</p>
        </a>
        <a class="item item-avatar" href="#">
          <img src="img/barrett.jpg">
          <h2>Dana</h2>
          <p>I am The Gatekeeper!</p>
        </a>
        <a class="item item-avatar" href="#">
          <img src="img/tully.jpg">
          <h2>Slimer</h2>
          <p>Boo!</p>
        </a>
        <a class="item item-avatar" href="#">
          <img src="img/winston.jpg">
          <h2>Slimer</h2>
          <p>Boo!</p>
        </a>
      </div>
    </div>
  </ion-content>-->
</ion-view>
