<ion-view view-title="Comentários">
  <ion-content>
    <!--<div class="list">
      <a class="item item-avatar" href="#">
        <img src="img/venkman.jpg">
        <h2>Venkman</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>
    </div>-->



    <div class="list">

      <a class="item item-avatar" href="#">
        <img src="img/venkman.jpg">
        <h2>Venkman</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>

      <a class="item item-avatar" href="#">
        <img src="img/spengler.jpg">
        <h2>Egon</h2>
        <p>We're gonna go full stream.</p>
      </a>

      <a class="item item-avatar" href="#">
        <img src="img/stantz.jpg">
        <h2>Ray</h2>
        <p>Ugly little spud, isn't he?</p>
      </a>

      <a class="item item-avatar" href="#">
        <img src="img/winston.jpg">
        <h2>Winston</h2>
        <p>That's a big Twinkie.</p>
      </a>

      <a class="item item-avatar" href="#">
        <img src="img/tully.jpg">
        <h2>Tully</h2>
        <p>Okay, who brought the dog?</p>
      </a>

      <a class="item item-avatar" href="#">
        <img src="img/barrett.jpg">
        <h2>Dana</h2>
        <p>I am The Gatekeeper!</p>
      </a>

      <a class="item item-avatar" href="#">
        <img src="img/tully.jpg">
        <h2>Slimer</h2>
        <p>Boo!</p>
      </a>
    
      <a class="item item-avatar" href="#">
        <img src="img/winston.jpg">
        <h2>Slimer</h2>
        <p>Boo!</p>
      </a>

    <div class="item item-input-inset comments-input">
        <label class="item-input-wrapper comments-label">
          <input type="text" placeholder="Email">
        </label>
        <!--<a href="" class="button button-small">
          <i class="icon ion-ios-paperplane" sty></i>  
        </a>-->
        <button class="button button-small">
          <i class="icon ion-ios-paperplane" sty></i>  
        </button>
    </div>
    
  </ion-content>
</ion-view>





<!--CODE OLD-->
<!--<ion-view>
  <ion-nav-title>Contato</ion-nav-title>
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
		<span class="input-label">Nome</span>
		<input type="text" ng-model="contato.nome">
	</label>
      <label class="item item-input">
		<span class="input-label">E-mail</span>
		<input type="text" ng-model="contato.email">
	</label>
      <label class="item">
		<span >Comentários</span>
		<textarea class="item" ng-model="contato.comentario" row="5" cols="40"></textarea>
	</label>
      <div class="contatoButton">
        <button class="button button-block button-balanced" ng-click="sendFeedback();">Enviar</button>
      </div>
    </div>
  </ion-content>
</ion-view>-->