<ion-side-menus>
	<ion-side-menu-content>
		<ion-nav-bar class="bar bar-header bar-calm" style="background-color: #46c6f3" align-title="center">
			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="center"></button>
			</ion-nav-buttons>
			<ion-nav-back-button>Voltar
    </ion-nav-back-button>
			<ion-nav-buttons side="right">
				<button class="button button-icon button-clear ion-grid" menu-toggle="center"></button>
			</ion-nav-buttons>
		</ion-nav-bar>

		<ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>

	<ion-side-menu side="left">
		<ion-header-bar class="bar bar-calm">
			<h1 class="title">Dados Pessoais</h1>
		</ion-header-bar>
		<ion-content>
			<div class="list card">
				<div class="item item-avatar">
					<h2> {{usuario.nome || usuario.name}} </h2>
					<h3> {{usuario.email}} </h3>
				</div>
				<div class="item item-body"></div>
			</div>
			<ion-list>
	
				<ion-item item-type="item-icon-left" nav-clear menu-close href="#/app/listagem">
					<i class="icon ion-android-home"></i>
					<span style="font-weight: 600;"> Home</span>
				</ion-item>

				<!--<ion-item item-type="item-icon-left" nav-clear menu-close href="#/app/profissionais">
					<i class="icon ion-briefcase"></i>
					<span style="font-weight: 600;"> Profissionais</span>
				</ion-item>-->
				
				<!--<ion-item item-type="item-icon-left" nav-clear menu-close href="#/app/favoritos">
					<i class="icon ion-star"></i>
					<span style="font-weight: 600;">Favoritos</span>
				</ion-item>-->
				
				<ion-item item-type="item-icon-left" nav-clear menu-close href="#/app/perfil">
					<i class="icon ion-person"></i>
					<span style="font-weight: 600;">Perfil</span>
				</ion-item>

				<!--<ion-item item-type="item-icon-left" nav-clear menu-close href="#/app/ajuda">
					<i class="icon ion-help-circled"></i>
					<span style="font-weight: 600;">Ajuda</span>
				</ion-item>-->
				
				<!--nav-clear menu-close href="#/app/Perfil"-->
				<!--<ion-item item-type="item-icon-left" ng-click="showLogOutMenu()">-->
					<ion-item item-type="item-icon-left" ng-click="logout()">
					<i class="icon ion-power"></i>
					<span style="font-weight: 600;" >Sair</span>
					
				</ion-item>

			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>