<ion-view title="Oferecer Serviço">
	<ion-content>

		<div class="padding">

			<label class="item-bottom item-input item-floating-label">
    			<span class="input-label">Nome</span>
    			<input type="text" placeholder="Nome">
  			</label>


			<label class="item-bottom item-input item-floating-label">
    			<span class="input-label">Telefone</span>
    			<input type="tel" placeholder="Telefone">
			</label>

			<label class="item-bottom item-input item-floating-label">
    			<span class="input-label">Email</span>
    			<input type="tel" placeholder="Ex:jose@pegapro.com.br">
			</label>

			<label class="item-bottom item-input item-floating-label">
				<span class="input-label">Confirmar Email</span>
				<input type="email" placeholder="email">
			</label>

			<label class="item-bottom item-input item-floating-label">
				<span class="input-label">Senha</span>
				<input type="email" placeholder="Senha">
			</label>

			<label class="item-input item-select">
				<div class="input-label">
					Categoria
				</div>
				<select>
				<option>Eletriscista</option>
				<option selected>Pedreiro</option>
				<option>Marceneiro</option>
				</select>
			</label>

			<label class="item-input item-select">
				<div class="input-label">
					subcategoria
				</div>
				<select>
				<option>Eletriscista Predial</option>
				</select>
			</label>

			<!--Fazer um select multiple usando este combo de cidade onde atua-->
			<label class="item-input item-select">
				<div class="input-label">
					Cidade
                    <p>Selecione as cidades que você atende (obrigatório)</p>
				</div>            
                <!--<select ng-model="estados" multiple>
                    <option ng-repeat="option in options" value="{{option.value}}">{{option.name}}</option>
                </select>-->
                <select multiple>
				<option>Eletriscista</option>
				<option selected>Pedreiro</option>
				<option>Marceneiro</option>
				</select>
            </label>

			<label class="item-input item-select">
				<div class="input-label">
					Regiões
                    <p>Selecione as regiões das cidades escolhidas (obrigatório)</p>
				</div>            
                <!--<select ng-model="estados" multiple>
                    <option ng-repeat="option in options" value="{{option.value}}">{{option.name}}</option>
                </select>-->
                <select multiple>
				<option>Eletriscista</option>
				<option selected>Pedreiro</option>
				<option>Marceneiro</option>
				</select>
            </label>


			<ion-list>
				<ion-item>Aceita cartão de crédito</ion-item>
				<ion-checkbox ng-model="filter.red">Sim</ion-checkbox>
				<ion-checkbox ng-model="filter.yellow">Não</ion-checkbox>
				<ion-checkbox ng-model="filter.pink">Pink</ion-checkbox>

			</ion-list>

			<label class="item-input item-select">
				<div class="input-label">
					Descrição
                    <p>Escreva uma breve descrição do seu atendimento/serviço.</p>
				</div>   

                <textarea type="text" placeholder="descrição">
                </textarea>

        </label>

			<!--<div class="padding">-->
			<button class="button button-block button-positive">Enviar</button>
			<!--</div>-->
		</div>

	</ion-content>
</ion-view>