<ion-view view-title="Perfil do Usuário">
    <ion-content>
        <div class="list card">
            <div class="item item-avatar">
                <h2> {{usuarioLogado.nome}} {{usuarioLogado.sobrenome}} </h2>
            </div>
            <div class="item item-body">
                <div class="list">
                <label class="item item-input">
                    <span ng-show="!estaEditando" class="input-label"> {{usuarioLogado.nome}}</span>
                    <input ng-show="estaEditando" type="text" name="nome" ng-model="usuarioLogado.nome">
                    
                  </label>
                  <label class="item item-input">
                      <span ng-show="!estaEditando" class="input-label"> {{usuarioLogado.celular  | brPhoneNumber}} </span>
                      <input ng-show="estaEditando" type="text" name="celular" ng-model="usuarioLogado.celular" value="">
                  </label>
                  <label class="item item-input">
                      <span ng-show="!estaEditando" class="input-label"> {{usuarioLogado.email}} </span>
                      <input ng-show="estaEditando" type="text" name="email" ng-model="usuarioLogado.email">
                  </label>
                  <button class="button button-full button-assertive" ng-click="editarPerfil()">{{textoBotao}}</button>
              </div>
            </div>
          </div>
      </ion-content>
  </ion-view>