<ion-view view-title="Detalhes do profissional">
  <ion-content>
    <div class="card card-detalhe-empregado">
      <p class="item-content item-avatar item-avatar-detalhes" href="#">
        <img src="{{listaDeEmpresaId.urlfoto}}">
        <h2 class="item item-nome-destaque">{{listaDeEmpresaId.firstName}}&nbsp;{{listaDeEmpresaId.lastName}}</h2>
        <div class="item item-body item-rating">
          <ionic-ratings ratingsobj="ratingsObject" index="$index"></ionic-ratings>
        </div>
      </p>
      <p class="likeAndComments">
        <a href="#/app/comentarios" class="subdued" title="comentarios a respeito deste profissional">
          <i class="icon ion-chatbubbles ico-hearts"></i>
          <span>5</span>
        </a>
      </p>
    </div>
    <div class="card card-panel-nome-detalhe">
      <div class="item item-text-wrap">
        <h3>{{listaDeEmpresaId.profissao}}</h3>
      </div>
      <a class="item item-icon-left" href="tel:{{listaDeEmpresaId.phone.mobile | brPhoneNumber}}">
        <i class="icon ion-ios-telephone"></i> Chamar agora
      </a>
      <a class="item item-icon-left " href="#/app/mapa">
        <i class="icon ion-map"></i> Localizar agora
      </a>
    </div>
    <div class="card card-empregado-dados">
      <div class="list">
        <div class="item item-divider">
          Especialidades:
        </div>
        <p class="item" style="white-space: normal;">
          {{listaDeEmpresaId.especialidades}}
        </p>
        <div class="item item-divider" style="white-space: normal;">
          Resumo profissional:
        </div>
        <p class="item"  style="white-space: normal;">
          {{listaDeEmpresaId.resumo}}
        </p>
        <div class="item item-divider">
          Áreas de atuação
        </div>
        <p class="item">
          {{listaDeEmpresaId.locais}}
        </p>
        <!--<div class="item item-divider">
          Depoimentos
        </div>
        <p class="item" style="white-space: normal;">
          profissional excelente já trabalhou pra mim e prestou um excelente serviço. Sempre contrato o mesmo para fazer os meus serviços.
        </p>-->
      </div>
      <div class="item item-divider">
        Depoimentos
      </div>
      <p class="item" style="white-space: normal;">
        {{listaDeEmpresaId.depoimentos}}
      </p>
    </div>
    <!--<a class="button button-positive button-full" href="#/mensagens">Mensages</a>-->
      <div class="item item-divider">
        Redes Sociais Compartilhar
      </div>    
    <div class="item item-avatar">
      <div class="">
        <i class="icon ion-social-whatsapp" style="font-size: 35px; color: #33cd5f; padding-right: 12px; padding-left: 0px;"></i>
        <i class="icon ion-social-facebook" style="font-size: 35px; color: #387ef5; padding-right: 12px; padding-left: 0px;"></i>
        <i class="icon ion-social-instagram" style="font-size: 35px; color: #886aea; padding-right: 12px; padding-left: 0px;"></i>
        <i class="icon ion-social-twitter" style="font-size: 35px; color: #11c1f3; padding-right: 12px; padding-left: 0px;"></i>
      </div>
    </div>

  </ion-content>
</ion-view>
<!--CODE OLD-->
<!--<ion-view view-title="Detalhes do profissional">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Ótima Escolha
      </div>
      <div class="item item-text-wrap">
        <div class="list card">
          <div class="item item-avatar">
            <img src="img/img_avatar2.png">
            <h2>{{listaDeEmpresaId.firstName}}&nbsp;{{listaDeEmpresaId.lastName}}</h2>
            <p>{{listaDeEmpresaId.phone.mobile | brPhoneNumber}}</p>
            <p>{{listaDeEmpresaId.TipoPreco}}: <span style="color: red;">{{listaDeEmpresaId.precoServico | finance:true:2}}</span></p>
          </div>
          <div class="item item-body">
            <ionic-ratings ratingsobj="ratingsObject" index="$index"></ionic-ratings>
          </div>
          <div class="item item-body">
            <h2>Perfil profissional:</h2>
            <p>
              <ion-list>
                <ion-item>Faxineira, Passadeira, Diarista</ion-item>
              </ion-list>
            </p>
          </div>
          <div class="item item-body">
            <h2>Resumo profissional:</h2>
            <p>
              {{listaDeEmpresaId.resumo}}
            </p>
          </div>
          <div class="item item-body">
            <h2>Compartilhar Perfil:</h2>
            <p>
              <div class="item item-avatar">
                <div class="">
                  <i class="icon ion-social-whatsapp" style="font-size: 35px; color: #33cd5f; padding-right: 12px; padding-left: 0px;"></i>
                  <i class="icon ion-social-facebook" style="font-size: 35px; color: #387ef5; padding-right: 12px; padding-left: 0px;"></i>
                  <i class="icon ion-social-instagram" style="font-size: 35px; color: #886aea; padding-right: 12px; padding-left: 0px;"></i>
                  <i class="icon ion-social-twitter" style="font-size: 35px; color: #11c1f3; padding-right: 12px; padding-left: 0px;"></i>
                </div>
              </div>
            </p>
            <a class="button button-positive button-full" href="#/mensagens">Mensages</a>
            <a class="button button-positive button-full" href="#/mapa">Visualizar no mapa</a>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>-->
