<ion-view view-title="PegaPro">
  <ion-content>
    <label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="text" placeholder="Pesquisar profissional ou categoria" ng-model="search">
			</label>
    <div class="list card">
      <ion-item class="item item-avatar" ng-repeat="empresa in listaDeEmpresas | filter:search track by $index" href="#/app/profissionalDetalhes/{{empresa._id}}">
        <img src="http://ionicframework.com/img/docs/mcfly.jpg">
        <h2>{{empresa.firstName}}&nbsp;{{empresa.lastName}}</h2>
        <h2>{{empresa.profissao}}</h2>
        <p>{{empresa.email}}</p>
        <button class="button button-small button-royal">
  					{{empresa.profissao}}
				</button>
        <button class="button button-small button-balanced" ng-show="$index==0">
  					Destaque
				</button>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
