<ion-view view-title="PegaPro">
  <ion-content>
    <label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="text" placeholder="Pesquisar profissional ou categoria" ng-model="search">
			</label>
    <div class="list card">
      <ion-item class="item item-avatar" ng-repeat="empresa in listaDeEmpresas | filter:search track by $index" href="#/app/profissionalDetalhes/{{empresa._id}}">
        <img src="{{empresa.urlfoto}}">
        <h2>{{empresa.firstName}}&nbsp;{{empresa.lastName}}</h2>
        <h2>{{empresa.especialidades}}</h2>
        <p>{{empresa.email}}</p>
        <p>
 
          <!--
            <a href="#" class="subdued"><i class="icon ion-thumbsup" style="color: #06476D; font-size: 18px;"></i> {{empresa.like}}</a>
            <a href="#" class="subdued"><i class="icon ion-eye" style="color: #06476D; font-size: 18px;"></i> {{empresa.visualizacoes}}</a>
            <a href="#" class="subdued"><i class="icon ion-ios-location" style="color: #06476D; font-size: 18px;"></i> 500 metros</a>
          -->
          
        </p>
        <button class="button button-small button-royal">
  					{{empresa.profissao}}
				</button>
        <!--<button class="button button-small icon-left ion-star button-balanced">Like</button>-->
        <!--
          <button class="button button-small button-balanced" ng-show="$index==0">
  					Destaque
				  </button>
        -->
      </ion-item>
    </div>
  </ion-content>
</ion-view>
