<ion-view view-title="PegaPro">
	<ion-content class="has-header">
		<div class="bar bar-header item-input-inset">
			<i class="icon ion-search placeholder-icon"></i>
			<input type="text" placeholder=" Pesquisar profissional ou categoria" ng-model="search" style="width:100%; padding-left:11px;" />
		</div>
		<ion-list>
			<ion-item type="item-text-wrap" class="item-avatar" ng-repeat="profissional in listaProfissional | filter:search | limitTo:listlength" href="#/app/profissionalDetalhes/{{profissional._id}}">
				<img src="{{profissional.urlfoto}}" alt="foto do perfil do profissional">
				<h2>{{profissional.firstName}}&nbsp;{{profissional.lastName}}</h2>
				<!--<p>{{profissional.email}}</p>-->
				<p>{{profissional.profissao}}</p>
				<p>
					<i class="icon ion-star placeholder-icon"></i>
					<i class="icon ion-star placeholder-icon"></i>
					<i class="icon ion-star placeholder-icon"></i>
					<i class="icon ion-star placeholder-icon"></i>
					<i class="icon ion-star placeholder-icon"></i>
				</p>
			</ion-item>
		</ion-list>
		<ion-infinite-scroll ng-if="listlength<=listaProfissional.length" on-infinite="loadMore()" distance="3%">
		</ion-infinite-scroll>
	</ion-content>
</ion-view>