/* Empty. Add your own CSS if you like */
 .ionic_ratings .icon {
    font-size: 20px; 
    color: #ffc900;
  }
  .ionic .custom-thumbnail > img:first-child, .ionic .custom-thumbnail .item-image, .ionic .custom-thumbnail .item-content > img:first-child, .ionic .custom-thumbnail .item-content .item-image {
    top: 0px !important;
    left: 0px !important;
    max-width: 100px !important;
    max-height: 100px !important;
}

.list-card-detalhe {
    margin-top: 4em;
    margin-bottom: 2em;
  }

  /*.list:last-child{
    margin-bottom: 0px;
    margin-top: 0em;
  }*/
  
  /*.item-input-inset {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 21.66667px;
}*/