/* Empty. Add your own CSS if you like */

.ionic_ratings .icon {
  font-size: 20px;
  color: #ffc900;
}

.ionic .custom-thumbnail> img:first-child,
.ionic .custom-thumbnail .item-image,
.ionic .custom-thumbnail .item-content> img:first-child,
.ionic .custom-thumbnail .item-content .item-image {
  top: 0px !important;
  left: 0px !important;
  max-width: 100px !important;
  max-height: 100px !important;
}

.list-card-detalhe {
  margin-top: 4em;
  margin-bottom: 2em;
}

.list-ajuste-top {
  padding-top: 2.8em;
}

/* Inicio do Botão flutuante*/
#floating-menu li span.label-container {
  margin-right: 2px;
  position: absolute;
  display: inline-block;
  visibility: hidden;
  top: 0px;
  overflow: hidden;
  right: 75px;
  width: 150px;
  text-align: right;
  font-size: 15px;
}

#floating-menu li span.label {
    margin-right: 2px;
    color: #fafafa;
    background-color: #454545;
    padding: 6px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: 0.5px 2px 2px 0.5px rgba(0, 0, 0, 0.2);
}

#floating-menu li.menu-button {
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #387ef5 !important;
}

.btn-icon-am {
  background-color: #fe9900 !important;
}

.btn-icon-az {
  background-color: #00aaff !important;
}

.btn-icon-ve {
  background-color: #229923 !important;
}

.btn-icon-vem {
  background-color: #ef1223 !important;
}

.btn-icon-ro {
  background-color: #ff4489 !important;
}

/* Fim do botão flutuante */

.item-bottom {
  border-bottom: 1px solid;
  border-color: #ddd;
}

.action-sheet-backdrop.active {
    /*background-color: rgba(214, 214, 214, 0.8) !important;*/
    background-color: rgba(235, 235, 235, 0.8) !important;
}


/* Div de ajuda */
.div-ajuda {
  padding-bottom: 10px;
  background-color: #efefef;
}




/* Validação de formulario */
.item-floating-label .input-label.has-input {
		/*color: #e7492e;*/
    color: #0a9dc7;
		font-size: 14px;
}

.input-label {
    display: table;
    padding: 7px 10px 7px 0px;
    max-width: 200px;
    width: 35%;
    color: #efefef;
    font-size: 16px;
}

/* Mudando o css do placeholder */
*::-webkit-input-placeholder {
  color: #ddd !important;
}
*:-moz-placeholder {
  color: #ddd !important;
}
*:-ms-input-placeholder { /* IE10+ */
  color: #ddd !important;
}


.item-bottom {
    border-bottom: 1px solid;
    /*border-color: #e7492e;*/
    border-color: #0a9dc7;
    font-weight: 400;
}

.bottom-input {
  border: none; 
  border-bottom: 1px solid #0a9dc7;
  /*border-bottom: 1px solid #e7492e;*/
}

/* Mensagens de error do sistema */
.error-container {
  margin: 5px 0;
}
 
.error-container:last-child {
    margin: 5px 0 0;
}
 
.error {
  padding: 10px 16px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  color: #555;
  vertical-align: middle;
}
 
.error i {
  font-size: 24px;
  color: #B83E2C;  
  vertical-align: middle;
}
 
.last-error-container > .error {
  padding: 10px 16px 0;
}
 
.has-errors {
  border-bottom: 3px solid #B83E2C;
}
 
.no-errors {
  border-bottom: 3px solid green;
}


/* modal de carregando */
.loading-backdrop{
    margin-top: 44px; /*loading should stay under the header*/
    background-color: rgb(237, 240, 241);
}

.loading{
    background-color: #fff !important;
    width: 75% !important;
    border-width: 2px !important;
    border-style: solid !important;

}

.loading p {
  color: #000;
}


